.container {
  padding: 30px;
  background-color: #427393;
  color: #fff;
  max-width: 540px;
  position: relative;
  margin: 0 auto;
  top: 20px;
  font-family: "Poppins", sans-serif;
}
.page {
  max-width: 540px;
  position: relative;
  margin: 0 auto;
}
